<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>QR or Barcode</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button slot="center"  (click)="Scan()" color="primary">SCAN</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

